.card {
    width: 239px;
    margin: 0;
    padding: 0;
    color: #484848;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.card-header {
    margin: 0;
    padding: 10px 25px;
    border-bottom: 5px solid #EEEEEE;
}

.card-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
}

.card-content {
    margin: 0;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
}

.card-footer {
    margin: 0;
    padding: 0 25px 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-hide .card-footer button {
    display: none;
}

.widget-hide .card-footer .date-time-widget {
    display: none;
}

.hide-content .card-content {
    display: none;
}

.hide-content .card-footer {
    padding-top: 10px;
    justify-content: space-between;
}