.kanban {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.kanban-page {
    margin: 0;
    padding: 0;
}

.kanban-header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 39px;
    gap: 10px;
    align-items: center;
}

.kanban-header div {
    font-size: 24px;
    font-weight: 500;
    color: #484848;
}

.kanban-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}