
body{
    font-family: "Poppins", sans-serif;
}

code {
    
}

wrapper.form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: translate .18s ease;
    translate:0;
}

.wrapper.active .form-box.login{
    transition: none;
    translate: -400px;
}

wrapper.form-box.register{
    position: absolute;
    transition: none;
    translate: 400px;
}

.wrapper.active .form-box.register{
    transition: translate .18s ease;
    translate:0;
}
